extends ../templ/client

block container

  form#content(role='form' method= 'post')

  form(role='form' method= 'post')
    div.row.green.animated.flipInX
        div.col-lg-7.col-md-9.col-sm-10.col-xs-12.inline-block
          .panel
            .panel-header.animated.bounceIn.delay-1
              h2.pacifico.big.blue Create Account
            //.panel-body
              .row
                label.hidden-xs.col-lg-2.col-sm-3(for='first-name') First Name:
                .col-lg-7.col-sx-8
                  input.form-control(id='first-name',name='firstName', type='text', maxlength='150', placeholder='First Name')
              br

              .row
                label.hidden-xs.col-lg-2.col-sm-3(for='last-name') Last Name:
                .col-lg-7.col-sx-8
                  input.form-control(id='last-name', name= 'lastName', type='text', maxlength='150', placeholder='Last Name')
              br

              .row
                label.hidden-xs.col-lg-2.col-sm-3(for='nick-name') User Name:
                .col-lg-7.col-sx-8
                  input.form-control(id='nick-name', name= 'userName', type='text', maxlength='150', placeholder='User Name')
              br

              .row
                label.hidden-xs.col-lg-2.col-sm-3(for='email') Email:
                .col-lg-7.col-sx-8
                  input.form-control(id='email', name= 'email', type='email', maxlength='150', placeholder='Email')
              br

              .row
                label.hidden-xs.col-lg-2.col-sm-3(for='password') Password:
                .col-lg-7.col-sx-8
                  input.form-control(id='password', name= 'password', type='password', maxlength='150', placeholder='Password')
              br

              .row
                label.hidden-xs.col-lg-2.col-sm-3(for='confirm-password') Repeat:
                .col-lg-7.col-sx-8
                  input.form-control(id='confirm-password', type='password', maxlength='150', placeholder='Password')
              br

            div.panel-footer.clearfix
              div.pull-right.btn-toolbar
                a.btn.btn-primary(id='save' data-toggle='tooltip' data-placement='bottom' title='save' onclick='createUser()') 
                  i.fa.fa-save.fa-md
                a.btn.btn-danger(id='cancel' data-toggle='tooltip' data-placement='bottom' title='cancel' href= redirectTo || '/') 
                  span.fa.fa-trash-o.fa-md

block script
  script(src= proxy+'javascripts/users/new.js')
  script(src= proxy+'javascripts/components.js')