extends template

block css

block body
  section#main-content.full-height.text-center
    .data
      nav.large-padding.fondo-gris
        ul.no-list.mediano
          li.pacifico.col-md-3.inline-block
            a.green(href= proxy+'')
              | Cost Control 
              small.lato.small We control what we measure.
          li.col-md-3.inline-block
            a(href= 'contact') contact
          li.col-md-3.inline-block
            a(href= proxy+'about') About
          li.col-md-3.inline-block
            a.btn.btn-warning(href= proxy+'login') 
              i.fa.fa-user 
              | &nbsp; login
    
    .container
      block container

block js