extends ./templ/template

block body
  section#main-content.full-height.text-center
    .data
      .col-md-3.center-block.no-float.top-space
        img.animated.fadeIn(src= proxy+'img/icecream.png')
        h1.pacifico.big.green.animated.fadeIn.delay-1 Solicitudes
        .animated.fadeInDown.delay-2
          h2 Ven, convive, diviértete.
          nav
            a.right-space(href='login') Login
            a.right-space(href='contact') Contact
            a.right-space(href='about') About