extends ./templ/template

block body
  section#main-content.full-height.text-center
    .data
      .col-md-4.center-block.no-float.top-space
        img.animated.rollIn.delay-2(src= proxy+'img/control1.jpg')
        h1.pacifico.big.green.animated.fadeIn Cost Control
        .animated.fadeInDown.delay-1
          h2 We control what we measure.
          nav
            a.right-space(href='login') Login
            a.right-space(href='contact') Contact
            a.right-space(href='about') About