extends ./templ/template

block css
  link(href= proxy+'stylesheets/views/login.css', rel='stylesheet')

block body
  section#main-content.full-height.text-center
    form.form-horizontal(method="post", id="loginForm", role='form').absolute-center
      div.form-group
        label.col-sm-2.col-xs-2.col-md-2.control-label(for='email') Email/User:
        div.col-sm-8.col-xs-8.col.md-8
          input.form-control(id='email',type="email", placeholder="email/user")

      div.form-group
        label.col-sm-2.col-xs-2.col-md-2.control-label(for='password') Password:
        div.col-sm-8.col-xs-8.col-md-8
          input.form-control(id="password", type="password", placeholder='password')

      div.form-group
        div
          label.col-xs-offset-1.col-xs-4.col.sm.offset-1.col-sm-4.col-md-offset-1.col.md-4.col-lg-offset-1.col-lg-4
            input(type='checkbox')
            | Remenber me

      div.form-group
        button.col-xs-offset-2.col-xs-2.col-sm-offset-2.col-sm-2.col-md-offset-2.col-md-2.col-lg-offset-2.col-lg-2.btn.btn-default(type='submit') Sing in