extends ./templ/client

block css
  link(href= proxy+'stylesheets/views/login.css', rel='stylesheet')

block container
  section#main-content.text-center.fondo-gris
    form.col-lg-4.col-md-6.col-sm-6.col-xs-10.acount-Info.tope.green.form-horizontal(method="post", id="loginForm", role='form',href=proxy+'sing-in').absolute-center
      
      .input-group.margin-bottom-sm
        span.input-group-addon
          i.fa.fa-envelope-o.fa-fw
        input.form-control(type='text', placeholder='Email address/User name')

      .input-group
        span.input-group-addon
          i.fa.fa-key.fa-fw
        input.form-control(type='password', placeholder='Password')
      br

      .form-group
        label.col-xs-6.col-sm-5.col-lg-4
          input(type='checkbox')
          | &nbsp; Remenber me

      .form-group
        .btn-toolbar
          button.btn.btn-primary(type='submit') Sing in
            i.fa.fa-sign-in.fa-fw
          a.btn.btn-default(href=proxy+'newUser') New Account &nbsp;
            i.fa.fa-user-plus.fa-fw