extends ./templ/client

block container
  .menu.mediano
    h2.pacifico.big.blue Menu
    p Productos de calidad a tu alcance
    .col-md-3.col-sm-6.col-xs-12.inline-block
      div
        h3.pacifico Hamburguesa
        img.col-xs-7.col-md-4.no-float(src= proxy+'img/hamburguesa.png')
        p
          strong 4USD
      div
        h3.pacifico Hot dog
        img.col-xs-7.col-md-4.no-float(src= proxy+'img/hotdog.png')
        p
          strong 2USD
    .col-md-6.col-sm-6.col-xs-12.inline-block.tope
      h3.pacifico Frappe cookies'n cream
      img.col-xs-7.col-md-4.no-float(src= proxy+'img/icecream.png')
      p
        strong 5USD
    .col-md-3.col-sm-6.col-xs-12.inline-block
      div
        h3.pacifico Sandwich
        img.col-xs-7.col-md-4.no-float(src= proxy+'img/sandwich.png')
        p
          strong 2USD
      div
        h3.pacifico Frappe cookies'n cream
        img.col-xs-7.col-md-4.no-float(src= proxy+'img/icecream.png')
        p
          strong 5USD
